@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-hover: rgb(219, 219, 2);
}

body {
    position: relative;
    background: #000;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

.logo img {
    max-width: 200px;
}

.menu {
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav li a:hover {
    color: var(--nav-hover);
}

.nav-collapse {
    display: none;
}

.search {
    position: relative;
    width: 120px;
    height: 40px;
    transition: 0.5s;
}

.search:hover {
    width: 300px;
}

.search input {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    outline: none;
    padding: 0 10px 0 5px;
    backdrop-filter: blur(10px);
}

.search ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}