@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-hover: rgb(219, 219, 2);
}

body {
    position: relative;
    background: #000;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.35);
    z-index: 20;
}

.logo img {
    max-width: 200px;
}

.menu {
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav li a:hover {
    color: var(--nav-hover);
}

.search {
    position: relative;
    width: 120px;
    height: 40px;
    transition: 0.5s;
}

.search:hover {
    width: 300px;
}

.search input {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    outline: none;
    padding: 0 10px 0 5px;
    backdrop-filter: blur(10px);
}

.search ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper .swiper-button-prev {
    position: absolute;
    left: 45%;
    top: 90%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    transition: all 0.4s ease;
}

.swiper .swiper-button-next {
    position: absolute;
    right: 45%;
    top: 90%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    transition: all 0.4s ease;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 25px;
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgba(255, 255, 255, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper .swiper-button-prev:hover {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.30);
}

.swiper .swiper-button-next:hover {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.30);
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    z-index: 10;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: rgb(255, 255, 255);
}

.swiper .swiper-wrapper .swiper-slide .backscene {
    position: absolute;
    content: '';
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.swiper .swiper-wrapper .swiper-slide .backscene video {
    position: absolute;
    content: '';
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.swiper .swiper-wrapper .swiper-slide .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 30px 80px 0;
    overflow: hidden;
    background: transparent;
    transition: 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .banner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner .left .features {
    max-width: 400px;
    margin-bottom: 100px;
}

.banner .left .features .steam-rating {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.banner .left .features .steam-rating .icons {
    padding: 7px 14px;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 400;
    color: var(--nav-hover);
    background-color: #ffffff8a;
    transition: all 0.25 ease;
}

.banner .left .features .steam-rating .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.banner .left .features .steam-rating .icons ion-icon {
    color: #000;
}

.banner .left .features .steam-rating .icons:hover {
    background-color: #fff;
}

.banner .left .features .content h4 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner .left .features .content span {
    font-size: 0.7em;
    font-weight: 200;
    text-transform: uppercase;
}

.banner .left .features .content .subtitle {
    color: red;
}

.banner h1 {
    color: #fff;
    max-width: 450px;
    font-size: 3em;
    line-height: 0.9;
    z-index: 10;
    text-transform: uppercase;
    font-family: "HFF Low Sun";

}

.banner p {
    max-width: 450px;
    color: #fff;
    font-size: 1.25em;
    margin-top: 20px;
    font-family: "HFF Low Sun";
}

.swiper .swiper-wrapper .swiper-slide .banner .right {
    position: relative;
    height: 100vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 11;
}

.banner .right .desc {
    padding: 30px 60px 0 0;
    color: #fff;
}

.banner .right .desc li {
    list-style: none;
}

.banner .right .desc h4 {
    display: inline-block;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner .right .desc h4 ion-icon {
    margin-right: 10px;
}

.banner .right .desc p {
    margin: 5px 0 20px 30px;
}

.banner .right h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.banner .right iframe {
    max-width: 450px;
    max-height: 255px;
}

.social {
    position: absolute;
    left: 80px;
    bottom: 50px;
    z-index: 10;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 25px;
}

.social ion-icon {
    color: #fff;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 1;
    opacity: 0;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}


/*responsive*/

@media (max-width: 1280px) {
    .swiper .swiper-wrapper .swiper-slide .backscene {
        visibility: hidden;
    }

    .swiper .swiper-wrapper .swiper-slide .banner h1 {
        font-size: 24px;
    }

    .swiper .swiper-wrapper .swiper-slide .banner p {
        font-size: 16px;
    }

    .swiper .swiper-wrapper .swiper-slide .banner .right iframe {
        max-width: 350px;
        max-height: 200px;
    }

    .swiper .swiper-wrapper .swiper-slide .banner .right h2 {
        font-size: 1.5em;
    }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        width: 40px;
        height: 40px;
    }

    .swiper .swiper-button-prev::after,
    .swiper .swiper-button-next::after {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

@media (max-width: 1024px) {
    .swiper .swiper-wrapper .swiper-slide .banner {
        top: -10px;
        padding: 10px 40px 0;
    }

    .swiper .swiper-wrapper .swiper-slide .banner .right .desc {
        margin-bottom: -200px;
    }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        width: 30px;
        height: 30px;
    }

    .swiper .swiper-button-prev::after,
    .swiper .swiper-button-next::after {
        width: 30px;
        height: 30px;
        border: none;
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    .swiper .swiper-wrapper .swiper-slide .banner .right .trailer {
        position: absolute;
        visibility: hidden;
    }

    .swiper .swiper-wrapper .swiper-slide .banner {
        flex-direction: column;
        top: 150px;
        max-height: 100vh;
    }

    .swiper .swiper-wrapper .swiper-slide .banner .right {
        margin-top: -400px;
    }

    .banner .left .features {
        margin-bottom: 30px;
    }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        top: 93%;
    }

    .social {
        left: 120px;
        font-size: 20px;
    }


    header .nav,
    .search {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    #menuToggle {
        opacity: 1;
    }
}

@media (max-width: 475px) {

    .swiper .swiper-button-prev {
        left: 20%;
    }

    .swiper .swiper-button-next {
        right: 60%;
    }

    .social {
        left: 300px;
    }
}